/* Color Palette Based on Monokai

white       : #fafafa
light grey  : #efefef
grey        : #75715e
dark grey   : #272822
black       : #191919

light blue  : #66d9ef
blue        : #1db4d0
lavender    : #bf79db
magenta     : #f92672
light green : #a6e22e
*/

/* Local Fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/opensans/300.woff2') format('woff2'),
       url('fonts/opensans/300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/opensans/400.woff2') format('woff2'),
       url('fonts/opensans/400.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/opensans/600.woff2') format('woff2'),
       url('fonts/opensans/600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/opensans/700.woff2') format('woff2'),
       url('fonts/opensans/700.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/opensans/800.woff2') format('woff2'),
       url('fonts/opensans/800.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/opensans/300i.woff2') format('woff2'),
       url('fonts/opensans/300i.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/opensans/400i.woff2') format('woff2'),
       url('fonts/opensans/400i.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/opensans/600i.woff2') format('woff2'),
       url('fonts/opensans/600i.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/opensans/700i.woff2') format('woff2'),
       url('fonts/opensans/700i.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/opensans/800i.woff2') format('woff2'),
       url('fonts/opensans/800i.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/merriweather/400.woff2') format('woff2'),
       url('fonts/merriweather/400.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/merriweather/700.woff2') format('woff2'),
       url('fonts/merriweather/700.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/merriweather/900.woff2') format('woff2'),
       url('fonts/merriweather/900.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/merriweather/400i.woff2') format('woff2'),
       url('fonts/merriweather/400i.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/merriweather/700i.woff2') format('woff2'),
       url('fonts/merriweather/700i.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/merriweather/900i.woff2') format('woff2'),
       url('fonts/merriweather/900i.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fira/400.woff2') format('woff2'),
       url('fonts/fira/400.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/fira/500.woff2') format('woff2'),
       url('fonts/fira/500.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/fira/700.woff2') format('woff2'),
       url('fonts/fira/700.woff') format('woff');
}

/* Theme Styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fafafa;
  background-color: #191919;
}
.reveal {

/* Custom Slide Styles */
#slide-1 {
  background: #222 url(wireball.png) center center no-repeat;
  background-size: cover;
}

#slide-1 h1 {
  text-shadow: 1px 2px 4px #191919;
}

#slide-1 p {
  text-shadow: 1px 1px 1px #191919;
}


.center {
  text-align: center;
}

img.badge {
  height: 128px;
  width: 128px !important;
  border-radius: 50% !important;
}

/* Presentation Styles */
.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100px;
}

.slides .present {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  // font-size: 200%;
  font-weight: 200;
  line-height: 1.375;
  overflow: hidden;
}

.slides .present img {
  width: 100%;
  border-radius: 3px;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.arrow {
  float: left;
  height: 0;
  width: 0;
  margin-right: 15px;
  border: 15px solid #272822;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.prev {
  border-top-color: transparent;
  border-right-width: 25px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-left-width: 0;
}

.next {
  border-top-color: transparent;
  border-right-color: transparent;
  border-right-width: 0;
  border-bottom-color: transparent;
  border-left-width: 25px;
}

.prev:hover {
  border-right-color: #efefef;
  cursor: pointer;
}

.next:hover {
  border-left-color: #efefef;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 170px 0 0;
  font-size: 300%;
  text-align: center;
  line-height: 1.2;
}

h2 {
  margin: 5px 0;
  font-size: 100%;
  font-weight: 200;
  text-align: center;
  line-height: 1.2;
}

h3 {
  margin: 0;
  padding-bottom: 15px;
  font-size: 140%;
  line-height: 1.2;
  border-bottom: 2px ridge #fafafa;
}

ul {
  padding: 20px 0 0 60px;
  font-weight: 200;
  line-height: 1.375;
}

blockquote {
  padding-left: 20px;
  margin-left: 0;
  background: #272822;
  border-left: 5px solid #efefef;
  border-radius: 0 3px 3px 0;
}

blockquote p {
  padding: .5em;
  color: #efefef;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

.author h1 {
  margin-bottom: 30px;
  font-size: 170%;
  font-weight: 200;
  text-align: center;
}

.author h3 {
  font-size: 95%;
  font-weight: 100;
  text-align: center;
  border: none;
}

.author h3.twitter::before {
  content: 'Twitter: ';
}

.author h3.github::before {
  content: 'Github: ';
}

.author h3.email::before {
  content: 'Email: ';
}

.author h3.url::before {
  content: 'Web: ';
}

a {
  text-decoration: none;
  color: #66d9ef;
}

a:hover {
  color: #66d9ef;
  border-bottom: 1px solid #66d9ef;
}

hr {
  border: 1px solid #efefef;
}

pre {
  font-size: 75%;
  line-height: 1.3;
}

table td,
table th {
  padding-right: 3em;
  text-align: left;
}

.progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
}

.progress-bar {
  height: 3px;
  width: 0;
  background-color: #a6e22e;
  -webkit-transition: width .15s ease-out;
     -moz-transition: width .15s ease-out;
       -o-transition: width .15s ease-out;
          transition: width .15s ease-out;
}

.hidden {
  display: none;
}

/* Code Highlighting */
code {
  padding: .1em .35em;
  font-family: 'Fira Mono';
  color: #fafafa;
  background-color: #272822;
  border-radius: 3px;
}

pre code {
  display: block;
  padding: .5em;
  font-family: 'Fira Mono';
  font-weight: 400;
  overflow-y: hidden;
  background: #272822;
}

pre .tag,
pre .tag .title,
pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #f92672;
}

pre code {
  color: #75715e;
}

pre code .constant {
  color: #66d9ef;
}

pre .class .title {
  color: #fafafa;
}

pre .attribute,
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #bf79db;
}

pre .tag .value,
pre .string,
pre .subst,
pre .title,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #a6e22e;
}

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #75715e;
}

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .status {
  /* font-weight: 600; */
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: .5;
}

/* Responsiveness */

@media (max-width: 850px) {

  body {
    font-size: 70%;
  }

  .slides .present {
    width: auto;
  }

  img {
    width: 100%;
    border-radius: 3px;
  }

  h1 {
    margin-top: 120px;
  }

  .prev,
  .prev:hover {
    border-right-color: rgba(135, 135, 135, .5);
  }

  .next,
  .next:hover {
    border-left-color: rgba(135, 135, 135, .5);
  }
}

@media (max-width: 480px) {
  body {
    overflow: hidden;
    font-size: 50%;
  }

  .slides .present {
    height: 340px;
    padding: 10px;
    margin-top: 10px;
  }

  h1 {
    margin-top: 50px;
  }

  ul {
    padding-left: 25px;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  @page {
    size: letter;
  }

  .hidden {
    display: inline;
  }

  html {
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  body {
    float: none !important;
    padding: 0;
    margin: 0 auto !important;
    overflow: visible;
    font-size: 52%;
    background: none !important;
    border: 0;
  }

  .progress,
  .controls {
    display: none;
  }

  .slide {
    position: static;
  }

  .slides .present {
    margin-top: 0;
    margin-bottom: 40px;
    height: 3.5in;
    overflow: visible;
    border: 1px solid #222;
  }

  .slide:nth-child(even) {
    /* 2 slides per page */
    page-break-before: always;
  }
}
}