/* Color Palette Based on Monokai

white       : #fafafa
light grey  : #efefef
grey        : #75715e
dark grey   : #272822
black       : #191919

light blue  : #66d9ef
blue        : #1db4d0
lavender    : #bf79db
magenta     : #f92672
light green : #a6e22e
*/
/* Local Fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/opensans/300.woff2") format("woff2"), url("fonts/opensans/300.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/opensans/400.woff2") format("woff2"), url("fonts/opensans/400.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/opensans/600.woff2") format("woff2"), url("fonts/opensans/600.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/opensans/700.woff2") format("woff2"), url("fonts/opensans/700.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("fonts/opensans/800.woff2") format("woff2"), url("fonts/opensans/800.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("fonts/opensans/300i.woff2") format("woff2"), url("fonts/opensans/300i.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/opensans/400i.woff2") format("woff2"), url("fonts/opensans/400i.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("fonts/opensans/600i.woff2") format("woff2"), url("fonts/opensans/600i.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("fonts/opensans/700i.woff2") format("woff2"), url("fonts/opensans/700i.woff") format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("fonts/opensans/800i.woff2") format("woff2"), url("fonts/opensans/800i.woff") format("woff"); }
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/merriweather/400.woff2") format("woff2"), url("fonts/merriweather/400.woff") format("woff"); }
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/merriweather/700.woff2") format("woff2"), url("fonts/merriweather/700.woff") format("woff"); }
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/merriweather/900.woff2") format("woff2"), url("fonts/merriweather/900.woff") format("woff"); }
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/merriweather/400i.woff2") format("woff2"), url("fonts/merriweather/400i.woff") format("woff"); }
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url("fonts/merriweather/700i.woff2") format("woff2"), url("fonts/merriweather/700i.woff") format("woff"); }
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: url("fonts/merriweather/900i.woff2") format("woff2"), url("fonts/merriweather/900i.woff") format("woff"); }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/fira/400.woff2") format("woff2"), url("fonts/fira/400.woff") format("woff"); }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/fira/500.woff2") format("woff2"), url("fonts/fira/500.woff") format("woff"); }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/fira/700.woff2") format("woff2"), url("fonts/fira/700.woff") format("woff"); }
/* Theme Styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fafafa;
  background-color: #191919; }

.reveal {
  /* Custom Slide Styles */
  /* Presentation Styles */
  /* Code Highlighting */
  /* Responsiveness */ }
  .reveal #slide-1 {
    background: #222 url(wireball.png) center center no-repeat;
    background-size: cover; }
  .reveal #slide-1 h1 {
    text-shadow: 1px 2px 4px #191919; }
  .reveal #slide-1 p {
    text-shadow: 1px 1px 1px #191919; }
  .reveal .center {
    text-align: center; }
  .reveal img.badge {
    height: 128px;
    width: 128px !important;
    border-radius: 50% !important; }
  .reveal .slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 100px; }
  .reveal .slides .present {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-weight: 200;
    line-height: 1.375;
    overflow: hidden; }
  .reveal .slides .present img {
    width: 100%;
    border-radius: 3px; }
  .reveal .controls {
    position: absolute;
    bottom: 10px;
    left: 10px; }
  .reveal .arrow {
    float: left;
    height: 0;
    width: 0;
    margin-right: 15px;
    border: 15px solid #272822;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .reveal .prev {
    border-top-color: transparent;
    border-right-width: 25px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-left-width: 0; }
  .reveal .next {
    border-top-color: transparent;
    border-right-color: transparent;
    border-right-width: 0;
    border-bottom-color: transparent;
    border-left-width: 25px; }
  .reveal .prev:hover {
    border-right-color: #efefef;
    cursor: pointer; }
  .reveal .next:hover {
    border-left-color: #efefef;
    cursor: pointer; }
  .reveal h1,
  .reveal h2,
  .reveal h3 {
    font-family: 'Merriweather', serif; }
  .reveal h1 {
    margin: 170px 0 0;
    font-size: 300%;
    text-align: center;
    line-height: 1.2; }
  .reveal h2 {
    margin: 5px 0;
    font-size: 100%;
    font-weight: 200;
    text-align: center;
    line-height: 1.2; }
  .reveal h3 {
    margin: 0;
    padding-bottom: 15px;
    font-size: 140%;
    line-height: 1.2;
    border-bottom: 2px ridge #fafafa; }
  .reveal ul {
    padding: 20px 0 0 60px;
    font-weight: 200;
    line-height: 1.375; }
  .reveal blockquote {
    padding-left: 20px;
    margin-left: 0;
    background: #272822;
    border-left: 5px solid #efefef;
    border-radius: 0 3px 3px 0; }
  .reveal blockquote p {
    padding: .5em;
    color: #efefef; }
  .reveal .left {
    float: left;
    width: 48%; }
  .reveal .right {
    float: right;
    width: 48%; }
  .reveal .author h1 {
    margin-bottom: 30px;
    font-size: 170%;
    font-weight: 200;
    text-align: center; }
  .reveal .author h3 {
    font-size: 95%;
    font-weight: 100;
    text-align: center;
    border: none; }
  .reveal .author h3.twitter::before {
    content: 'Twitter: '; }
  .reveal .author h3.github::before {
    content: 'Github: '; }
  .reveal .author h3.email::before {
    content: 'Email: '; }
  .reveal .author h3.url::before {
    content: 'Web: '; }
  .reveal a {
    text-decoration: none;
    color: #66d9ef; }
  .reveal a:hover {
    color: #66d9ef;
    border-bottom: 1px solid #66d9ef; }
  .reveal hr {
    border: 1px solid #efefef; }
  .reveal pre {
    font-size: 75%;
    line-height: 1.3; }
  .reveal table td,
  .reveal table th {
    padding-right: 3em;
    text-align: left; }
  .reveal .progress {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3px; }
  .reveal .progress-bar {
    height: 3px;
    width: 0;
    background-color: #a6e22e;
    -webkit-transition: width .15s ease-out;
    -moz-transition: width .15s ease-out;
    -o-transition: width .15s ease-out;
    transition: width .15s ease-out; }
  .reveal .hidden {
    display: none; }
  .reveal code {
    padding: .1em .35em;
    font-family: 'Fira Mono';
    color: #fafafa;
    background-color: #272822;
    border-radius: 3px; }
  .reveal pre code {
    display: block;
    padding: .5em;
    font-family: 'Fira Mono';
    font-weight: 400;
    overflow-y: hidden;
    background: #272822; }
  .reveal pre .tag,
  .reveal pre .tag .title,
  .reveal pre .keyword,
  .reveal pre .literal,
  .reveal pre .change,
  .reveal pre .winutils,
  .reveal pre .flow,
  .reveal pre .lisp .title,
  .reveal pre .clojure .built_in,
  .reveal pre .nginx .title,
  .reveal pre .tex .special {
    color: #f92672; }
  .reveal pre code {
    color: #75715e; }
  .reveal pre code .constant {
    color: #66d9ef; }
  .reveal pre .class .title {
    color: #fafafa; }
  .reveal pre .attribute,
  .reveal pre .symbol,
  .reveal pre .symbol .string,
  .reveal pre .value,
  .reveal pre .regexp {
    color: #bf79db; }
  .reveal pre .tag .value,
  .reveal pre .string,
  .reveal pre .subst,
  .reveal pre .title,
  .reveal pre .haskell .type,
  .reveal pre .preprocessor,
  .reveal pre .ruby .class .parent,
  .reveal pre .built_in,
  .reveal pre .sql .aggregate,
  .reveal pre .django .template_tag,
  .reveal pre .django .variable,
  .reveal pre .smalltalk .class,
  .reveal pre .javadoc,
  .reveal pre .django .filter .argument,
  .reveal pre .smalltalk .localvars,
  .reveal pre .smalltalk .array,
  .reveal pre .attr_selector,
  .reveal pre .pseudo,
  .reveal pre .addition,
  .reveal pre .stream,
  .reveal pre .envvar,
  .reveal pre .apache .tag,
  .reveal pre .apache .cbracket,
  .reveal pre .tex .command,
  .reveal pre .prompt {
    color: #a6e22e; }
  .reveal pre .comment,
  .reveal pre .java .annotation,
  .reveal pre .python .decorator,
  .reveal pre .template_comment,
  .reveal pre .pi,
  .reveal pre .doctype,
  .reveal pre .deletion,
  .reveal pre .shebang,
  .reveal pre .apache .sqbracket,
  .reveal pre .tex .formula {
    color: #75715e; }
  .reveal pre .keyword,
  .reveal pre .literal,
  .reveal pre .css .id,
  .reveal pre .phpdoc,
  .reveal pre .title,
  .reveal pre .haskell .type,
  .reveal pre .vbscript .built_in,
  .reveal pre .sql .aggregate,
  .reveal pre .rsl .built_in,
  .reveal pre .smalltalk .class,
  .reveal pre .diff .header,
  .reveal pre .chunk,
  .reveal pre .winutils,
  .reveal pre .bash .variable,
  .reveal pre .apache .tag,
  .reveal pre .tex .special,
  .reveal pre .request,
  .reveal pre .status {
    /* font-weight: 600; */ }
  .reveal pre .coffeescript .javascript,
  .reveal pre .javascript .xml,
  .reveal pre .tex .formula,
  .reveal pre .xml .javascript,
  .reveal pre .xml .vbscript,
  .reveal pre .xml .css,
  .reveal pre .xml .cdata {
    opacity: .5; }
  @media (max-width: 850px) {
    .reveal body {
      font-size: 70%; }
    .reveal .slides .present {
      width: auto; }
    .reveal img {
      width: 100%;
      border-radius: 3px; }
    .reveal h1 {
      margin-top: 120px; }
    .reveal .prev,
    .reveal .prev:hover {
      border-right-color: rgba(135, 135, 135, 0.5); }
    .reveal .next,
    .reveal .next:hover {
      border-left-color: rgba(135, 135, 135, 0.5); } }
  @media (max-width: 480px) {
    .reveal body {
      overflow: hidden;
      font-size: 50%; }
    .reveal .slides .present {
      height: 340px;
      padding: 10px;
      margin-top: 10px; }
    .reveal h1 {
      margin-top: 50px; }
    .reveal ul {
      padding-left: 25px; } }
  @media print {
    .reveal * {
      -webkit-print-color-adjust: exact; }
    @page {
      .reveal {
        size: letter; } }
    .reveal .hidden {
      display: inline; }
    .reveal html {
      height: 100%;
      width: 100%;
      overflow: visible; }
    .reveal body {
      float: none !important;
      padding: 0;
      margin: 0 auto !important;
      overflow: visible;
      font-size: 52%;
      background: none !important;
      border: 0; }
    .reveal .progress,
    .reveal .controls {
      display: none; }
    .reveal .slide {
      position: static; }
    .reveal .slides .present {
      margin-top: 0;
      margin-bottom: 40px;
      height: 3.5in;
      overflow: visible;
      border: 1px solid #222; }
    .reveal .slide:nth-child(even) {
      /* 2 slides per page */
      page-break-before: always; } }

/*# sourceMappingURL=cleaver-dark.css.map */
